[user]
    name = Frieder Schlesier
    email = fschl.code@gmail.com

[github]
    user = fschl

    [merge]

    # Include summaries of merged commits in newly created merge commit messages
    log = true

[gitlab]
    user = fschl

    [merge]

    # Include summaries of merged commits in newly created merge commit messages
    log = true

[diff]

    # Detect copies as well as renames
    renames = copies

[credential]
    helper = cache
[color]
    ui = true
